@(title: String)(content: Html)(implicit messages: Messages, flash: play.api.mvc.Flash)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>

        @flash.get("error").map { message =>
            <div class="alert alert-danger">
                <strong>Error!</strong> @message
            </div>
        }

        @flash.get("warning").map { message =>
            <div class="alert alert-warning">
                <strong>Warning!</strong> @message
            </div>
        }

        @flash.get("success").map { message =>
            <div class="alert alert-success">
                <strong>Done!</strong> @message
            </div>
        }

        @content
    </body>
</html>
